<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FavoritePage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card  *ngFor="let quote of favQuotes">
        <ion-card-header>
          <h2>
              #{{quote.id}}
          </h2>
        </ion-card-header>
        <ion-card-content>
          {{quote.text}}
          <p style="text-align: right;color: grey">
            - {{quote.person | uppercase}}
          </p> 
          <ion-grid>
            <ion-row no-padding>
                <ion-col text-right>
                    <button ion-button clear small style="color: red" (click)="onShowAlert(quote)">
                      <ion-icon name='star'> </ion-icon>
                      Unfavorite
                    </button>
                  </ion-col>
            </ion-row>
          </ion-grid>
          
         </ion-card-content>
    </ion-card>
</ion-content>
