<ion-header>
    <ion-navbar>
        <ion-title>page-name</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
This is the first page.<br>
<button ion-button [navPush]="secondPage">{{nama}}</button>
</ion-content>